In [1]:
!pip install selenium

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
Collecting urllib3 (from selenium)
  Downloading https://files.pythonhosted.org/packages/62/00/ee1d7de624db8ba7090d1226aebefab96a2c71cd5cfa7629d6ad3f61b79e/urllib3-1.24.1-py2.py3-none-any.whl (118kB)
Installing collected packages: urllib3, selenium
Successfully installed selenium-3.141.0 urllib3-1.24.1

You are using pip version 8.1.2, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [6]:
!pip install --upgrade pip

Requirement already up-to-date: pip in c:\users\孟均\anaconda3\lib\site-packages (19.0.3)

In [117]:
import os
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import Select
from time import sleep
import requests
import csv
from io import BytesIO
import pandas as pd
from datetime import datetime

In [74]:
options = webdriver.ChromeOptions()
file_path = 'C:\\Users\\孟均\\Desktop\\Fintech-Text Mining and Machine Learning\\HW1\\data'
prefs = {"profile.default_content_settings_popups": 0, "download.default_directory": file_path}
options.add_experimental_option('prefs', prefs)

driver = webdriver.Chrome(chrome_options=options)
driver.implicitly_wait(20)
driver.get("https://oui.doleta.gov/unemploy/claims.asp")
Region_button = driver.find_element_by_xpath("//input[@value='us']")
Region_button.click()
StartDate_select = Select(driver.find_element_by_xpath("//select[@name='strtdate']"))
StartDate_select.select_by_index(len(StartDate_select.options)-1)
EndDate_select = Select(driver.find_element_by_xpath("//select[@name='enddate']"))
EndDate_select.select_by_index(0)
Output_button = driver.find_element_by_xpath("//input[@id='xls']")
Output_button.click()
Submit_button = driver.find_element_by_xpath("//input[@name='submit']")
Submit_button.click()

def every_downloads_chrome(driver):
    if not driver.current_url.startswith("chrome://downloads"):
        driver.get("chrome://downloads/")
    return driver.execute_script("""
        var items = downloads.Manager.get().items_;
        if (items.every(e => e.state === "COMPLETE"))
            return items.map(e => e.file_url);
        """)

# waits for all the files to be completed and returns the paths
WebDriverWait(driver, 120, 1).until(every_downloads_chrome)

driver.quit()

C:\Users\孟均\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: DeprecationWarning: use options instead of chrome_options

In [75]:
filename = max([os.path.join(file_path, f) for f in os.listdir(file_path)], key=os.path.getctime)
rename_file = os.path.join(file_path, 'Weekly_Initial_Claims.txt')
os.rename(os.path.join(file_path, filename), rename_file)

In [114]:
df = pd.read_html(rename_file)[0]
df.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Initial Claims,Continued Claims,I.U.R,Covered Employment,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N.S.A,S.F.,S.A.,S.A. 4-Week,N.S.A,S.F.,S.A.,S.A. 4-Week,N.S.A,S.A.,NaN,NaN
2,01/07/1967,346000,166.5,208000,0,1594000,140.6,1134000,0,NaN,NaN,NaN
3,01/14/1967,334000,161.5,207000,0,1563000,139.7,1119000,0,NaN,NaN,NaN
4,01/21/1967,277000,127.8,217000,0,1551000,138.6,1119000,0,NaN,NaN,NaN
5,01/28/1967,252000,123.8,204000,209000,1533000,139.0,1103000,1118750,NaN,NaN,NaN
6,02/04/1967,274000,127.1,216000,211000,1534000,135.6,1131000,1118000,NaN,NaN,NaN
7,02/11/1967,276000,120.4,229000,216500,1557000,135.0,1153000,1126500,NaN,NaN,NaN
8,02/18/1967,247000,108.4,229000,219500,1579000,135.3,1167000,1138500,NaN,NaN,NaN
9,02/25/1967,248000,102.6,242000,229000,1625000,135.5,1199000,1162500,NaN,NaN,NaN
10,03/04/1967,326000,105.4,310000,252500,1621000,131.2,1235000,1188500,NaN,NaN,NaN
11,03/11/1967,240000,99.8,241000,255500,1577000,127.8,1234000,1208750,NaN,NaN,NaN
12,03/18/1967,225000,92.0,245000,259500,1525000,123.4,1236000,1226000,NaN,NaN,NaN
13,03/25/1967,215000,87.2,247000,260750,1505000,118.7,1268000,1243250,NaN,NaN,NaN
14,04/01/1967,223000,86.2,259000,248000,1470000,113.8,1291000,1257250,NaN,NaN,NaN
15,04/08/1967,251000,97.6,257000,252000,1410000,110.8,1273000,1267000,NaN,NaN,NaN
16,04/15/1967,289000,96.9,299000,265500,1386000,108.5,1278000,1277500,NaN,NaN,NaN
17,04/22/1967,218000,89.1,245000,265000,1342000,105.1,1277000,1279750,NaN,NaN,NaN
18,04/29/1967,216000,85.0,255000,264000,1302000,101.3,1286000,1278500,NaN,NaN,NaN
19,05/06/1967,221000,87.4,254000,263250,1242000,95.0,1308000,1287250,NaN,NaN,NaN

In [115]:
header = ['Date', 'Initial Claims (N.S.A)', 'Initial Claims (S.F.)', 'Initial Claims (S.A.)', 'Initial Claims (S.A. 4-Week)',\
          'Continued Claims (N.S.A)', 'Continued Claims (S.F.)', 'Continued Claims (S.A.)', 'Continued Claims (S.A. 4-Week)',\
          'I.U.R (N.S.A)', 'I.U.R (S.A)', 'Covered Employment']
df.rename(columns = dict(zip(df.columns, header)), inplace = True)
df.drop([0,1], inplace = True)
df.reset_index(drop = True, inplace = True)
df.head(20)

,Date,Initial Claims (N.S.A),Initial Claims (S.F.),Initial Claims (S.A.),Initial Claims (S.A. 4-Week),Continued Claims (N.S.A),Continued Claims (S.F.),Continued Claims (S.A.),Continued Claims (S.A. 4-Week),I.U.R (N.S.A),I.U.R (S.A),Covered Employment
0,01/07/1967,346000,166.5,208000,0,1594000,140.6,1134000,0,NaN,NaN,NaN
1,01/14/1967,334000,161.5,207000,0,1563000,139.7,1119000,0,NaN,NaN,NaN
2,01/21/1967,277000,127.8,217000,0,1551000,138.6,1119000,0,NaN,NaN,NaN
3,01/28/1967,252000,123.8,204000,209000,1533000,139.0,1103000,1118750,NaN,NaN,NaN
4,02/04/1967,274000,127.1,216000,211000,1534000,135.6,1131000,1118000,NaN,NaN,NaN
5,02/11/1967,276000,120.4,229000,216500,1557000,135.0,1153000,1126500,NaN,NaN,NaN
6,02/18/1967,247000,108.4,229000,219500,1579000,135.3,1167000,1138500,NaN,NaN,NaN
7,02/25/1967,248000,102.6,242000,229000,1625000,135.5,1199000,1162500,NaN,NaN,NaN
8,03/04/1967,326000,105.4,310000,252500,1621000,131.2,1235000,1188500,NaN,NaN,NaN
9,03/11/1967,240000,99.8,241000,255500,1577000,127.8,1234000,1208750,NaN,NaN,NaN
10,03/18/1967,225000,92.0,245000,259500,1525000,123.4,1236000,1226000,NaN,NaN,NaN
11,03/25/1967,215000,87.2,247000,260750,1505000,118.7,1268000,1243250,NaN,NaN,NaN
12,04/01/1967,223000,86.2,259000,248000,1470000,113.8,1291000,1257250,NaN,NaN,NaN
13,04/08/1967,251000,97.6,257000,252000,1410000,110.8,1273000,1267000,NaN,NaN,NaN
14,04/15/1967,289000,96.9,299000,265500,1386000,108.5,1278000,1277500,NaN,NaN,NaN
15,04/22/1967,218000,89.1,245000,265000,1342000,105.1,1277000,1279750,NaN,NaN,NaN
16,04/29/1967,216000,85.0,255000,264000,1302000,101.3,1286000,1278500,NaN,NaN,NaN
17,05/06/1967,221000,87.4,254000,263250,1242000,95.0,1308000,1287250,NaN,NaN,NaN
18,05/13/1967,188000,81.7,231000,246250,1169000,91.0,1284000,1288750,NaN,NaN,NaN
19,05/20/1967,177000,77.3,230000,242500,1129000,89.3,1265000,1285750,NaN,NaN,NaN

In [122]:
df_final = df[['Date', 'Initial Claims (S.A.)']]
df_final.rename(columns = {'Initial Claims (S.A.)': 'Value'}, inplace = True)
df_final['Date'] = pd.to_datetime(df_final['Date'])
df_final.head(20)

C:\Users\孟均\Anaconda3\lib\site-packages\pandas\core\frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)
C:\Users\孟均\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

         Date   Value
0  1967-01-07  208000
1  1967-01-14  207000
2  1967-01-21  217000
3  1967-01-28  204000
4  1967-02-04  216000
5  1967-02-11  229000
6  1967-02-18  229000
7  1967-02-25  242000
8  1967-03-04  310000
9  1967-03-11  241000
10 1967-03-18  245000
11 1967-03-25  247000
12 1967-04-01  259000
13 1967-04-08  257000
14 1967-04-15  299000
15 1967-04-22  245000
16 1967-04-29  255000
17 1967-05-06  254000
18 1967-05-13  231000
19 1967-05-20  230000